[submodule "FallDetection"]
	path = FallDetection
	url = https://github.com/parvusvox/FallDetection.git
[submodule "vision_msgs"]
	path = vision_msgs
	url = https://github.com/ros-perception/vision_msgs.git
[submodule "kill_depth"]
	path = kill_depth
	url = https://github.com/parvusvox/kill_depth.git
[submodule "fall-detection-alert-system"]
	path = fall-detection-alert-system
	url = https://github.com/Pape98/fall-detection-alert-system.git
